/* background color */

body {
    background-color: black;
}

/* Add a box around the login section */
.wrapper {
    border: 2px solid #ffffff; /* Set border color and width */
    padding: 20px; /* Add padding inside the box */
    margin: auto; /* Center the box horizontally */
    max-width: 400px; /* Set a maximum width for the box */
    background-color: black; /* Set background color */
}

/* Add space between "Forgot password?" and the button */
.forgot-password {
    margin-top: 20px; /* Adjust the margin as needed */
        }

.bigbutton {
    height: 100px;
    width: 200px;
    font-size: 25px;
    font-family: Lucida;
    background-color: #DC143C;
    color: white; /* text color */
    text-align: center; /* to center the text */
    padding: 32px 32px; /* top/bottom, left/right padding */
    text-decoration: none; /* remove text underline */
}

.container{
    height:500px;
    width: 645px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    top: 10%;
    position: relative;
    padding-top: 25px;
}

#date {
    font-size: 30px;
}

.selected {
    color: white; /* text color */
    background-color: blue;
}

/* from http://thenewcode.com/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds */

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#vidtop-content {
    top: 0;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}


/* styles for annenberg image */
.image-outside-login {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Adjust the margin as needed */
    margin-top: 20px; /* Add margin above the image */
}
/* star */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }

  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }

  .rating label:last-child {
    position: static;
  }

  .rating label:nth-child(1) {
    z-index: 5;
  }

  .rating label:nth-child(2) {
    z-index: 4;
  }

  .rating label:nth-child(3) {
    z-index: 3;
  }

  .rating label:nth-child(4) {
    z-index: 2;
  }

  .rating label:nth-child(5) {
    z-index: 1;
  }

  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .rating label .icon {
    float: left;
    color: transparent;
  }

  .rating label:last-child .icon {
    color: #000;
  }

  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #09f;
  }

  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }
/* star rating

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
    color: white;
  }

  .star {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }

  .star::before {
    content: '\2605';
  }

  .star:hover::before,
  .star:hover ~ .star::before,
  .star.selected::before {
    content: '\2605';
    color: gold;
  }

  /* remove bullet points on menu items */
  ul {
    list-style-type: none;
  }


  /* change submit button properties */
  .custom-button {
      background-color: #DC143C;
      color: #fff;
      height: 50px;
      width: 100px;
  }

/* change btn-primary properties (makes it look like a button)*/
body .btn-primary {
    background-color: #DC143C;
    outline: none;
    border: 1px solid transparent;
  }

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #DC143C;
    border: 1px solid white;
}
