/* Add a box around the login section */
.wrapper {
    border: 2px solid #ffffff; /* Set border color and width */
    padding: 20px; /* Add padding inside the box */
    margin: auto; /* Center the box horizontally */
    max-width: 400px; /* Set a maximum width for the box */
    background-color: black; /* Set background color */
}

/* Add space between "Forgot password?" and the button */
.forgot-password {
    margin-top: 20px; /* Adjust the margin as needed */
        }

.bigbutton {
    height: 100px;
    width: 200px;
    font-size: 25px;
    font-family: Lucida;
    background-color: #DC143C;
    color: white; /* text color */
    text-align: center; /* to center the text */
    padding: 32px 32px; /* top/bottom, left/right padding */
    text-decoration: none; /* remove text underline */
}


.container{
    height:500px;
    width: 645px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    top: 10%;
    position: relative;
    padding-top: 25px;
}

#date {
    font-size: 30px;
}

.selected {
    color: white; /* text color */
    background-color: blue;
}

/* from http://thenewcode.com/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds */

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#vidtop-content {
    top: 0;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.black-background {
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

/* styles for annenberg image */
.image-outside-login {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Adjust the margin as needed */
    margin-top: 20px; /* Add margin above the image */
}


/* change the size of the review textboxes */
#review1 {
    height: 100px;
    width: 350px;
}


/* star rating */

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
    color: white;
  }

  .star {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }

  .star::before {
    content: '\2605';
  }

  .star:hover::before,
  .star:hover ~ .star::before,
  .star.selected::before {
    content: '\2605'; /* Change to filled star on hover */
    color: gold;
  }


  ul {
    list-style-type: none;
  }


  /* change submit button properties */
  .custom-button {
      background-color: #DC143C;
      color: #fff;
      height: 50px;
      width: 100px;
  }

/* change btn-primary properties */
body .btn-primary {
    background-color: #DC143C;
    outline: none;
    border: 1px solid transparent; /* Resetting the border property */
  }

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #DC143C;
    border: 1px solid white;
}
