{% extends "layout.html" %}

{% block title %}
    HUDSHUB: Welcome to HUDS Menu Review!
{% endblock %}

{% block main %}

        <!-- Header of page -->
        <h1 class="pink large topmargin" id="contact">HUDS</h1>

        <!-- Display Date -->
        <p id="date"></p>
        <script>
            document.getElementById('date').textContent = new Date().toLocaleDateString();
        </script>

        <!-- Two Buttons for Lunch & Dinner Selection -->
        <a href="lunch.html" class="bigbutton">Lunch</a>
        <a href="dinner.html" class="bigbutton">Dinner</a>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

{% endblock %}
