{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h1 style="color: white; font-family: Oswald;" id="contact">Login</h1>
    <form action="/login" method="post" style="background-color: black;">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            <a href="#">Forgot password?</a>
        </div>

        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
