{% extends "layout.html" %}

{% block title %}
    Lunch
{% endblock %}

{% block main %}

<div class="wrapper">
    <!-- Header of page -->
    <h1 style="color: white; font-family: Oswald;" id="contact">Lunch Menu</h1>


        <h2 id="content" style="color: white; font-family: Oswald;">Entrees</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_entree %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>

        <h2 id="content" style="color: white; font-family: Oswald;">Vegetables</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_vegetables %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>

        <h2 id="content" style="color: white; font-family: Oswald;">Starch and Potatoes</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_starch %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>

        <h2 id="content" style="color: white; font-family: Oswald;">Veg/Vegan</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_vegan %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>

        <h2 id="content" style="color: white; font-family: Oswald;">Halal</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_halal %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>
        <div style="padding-bottom: 30px;"></div>

        <h2 id="content" style="color: white; font-family: Oswald;">Rate this Meal!</h2>
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rarating" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>

        <div style="padding-bottom: 40px;"></div>

        <textarea id="review1" name="review1"></textarea>

        <div>
            <button type="submit" class="custom-button btn btn-primary">Submit</button>
        </div>
    </div>

{% endblock %}
