{% extends "layout.html" %}

{% block title %}
    Lunch
{% endblock %}

{% block main %}

<div class="wrapper">
    <!-- Header of page -->
    <h1 style="color: white; font-family: Oswald;" id="contact">Lunch Menu</h1>

        <h2 id="content" style="color: white; font-family: Oswald;">Entrees</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_entree %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>

        <h2 id="content" style="color: white; font-family: Oswald;">Vegetables</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_vegetables %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>

        <h2 id="content" style="color: white; font-family: Oswald;">Starch and Potatoes</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_starch %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>

        <h2 id="content" style="color: white; font-family: Oswald;">Veg/Vegan</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_vegan %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>

        <h2 id="content" style="color: white; font-family: Oswald;">Halal</h2>
        <ul style="color: white; font-family: Oswald;">
            {% for row in lunch_halal %}
                <li>{{ row.recipe_name }}</li>
            {% endfor %}
        </ul>
        <div style="padding-bottom: 40px;"></div>

        <h2 id="content" style="color: white; font-family: Times New Roman;">Rate this Meal!</h2>

        <form class="rating">
            <label>
                <input type="radio" name="stars" value="5" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="4" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="3" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="2" />
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="1" />
                <span class="icon">★</span>
            </label>
        <div style="padding-bottom: 40px;"></div>
            <textarea id="review1" name="review1"></textarea>
            <div>
                <button type="submit" class="custom-button btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

<!--
        <div class="rating">
            <form action="#" method="post" onsubmit="redirectToHome()">

                <div class="rating">
                    <div class="star" onclick="setRating(5)"></div>
                    <div class="star" onclick="setRating(4)"></div>
                    <div class="star" onclick="setRating(3)"></div>
                    <div class="star" onclick="setRating(2)"></div>
                    <div class="star" onclick="setRating(1)"></div>
                  </div>

                  <p id="selectedRating">Selected Rating: 0</p>

            <script>
        /* selecting star rating */

        let selectedRating = 0;

        function setRating(rating) {
        selectedRating = rating;
        document.getElementById('selectedRating').innerText = `Selected Rating: ${rating} stars`;
        }
            </script>
        -->


{% endblock %}
